In [1]:
import pandas as pd
data = pd.read_csv("SSL0710Q_20240122082345.csv")
data["Order_weight(MT)"] = data["接單重量(KGS)"].map(lambda x : float(x.replace(",","")))
CHART_SOURCE = data[["客戶代號", "Order_weight(MT)"]].copy()
FINAL_TABLE = CHART_SOURCE[["Order_weight(MT)", "客戶代號"]].groupby("客戶代號").sum()
FINAL_TABLE.sort_values(by = ["Order_weight(MT)"], ascending=False)

        Order_weight(MT)
客戶代號
D01200          93485.04
C00600          42817.38
C01900          16588.64
D09000          16066.56
C03400          10473.95
D04000           2703.00
D04001           2086.20

統計今年各月出貨重量

In [2]:
def TRAN_DATE(days) :
    DATE_LIST = days.split("/")
    if len(DATE_LIST[1]) < 2 :
        DATE_LIST[1] = "0" + DATE_LIST[1]
    return "{}_{}".format(DATE_LIST[0], DATE_LIST[1])

In [3]:
import pandas as pd

data = pd.read_csv("SDL0800Q_20240122083731.csv")
data["Order_weight(MT)"] = data["訂單重量(KG)"].map(lambda x : float(x.replace(",",""))*0.001)
CHART_SOURCE = data[["Order_weight(MT)", "訂單交期"]].copy()
CHART_SOURCE["Order_Monthly"] = CHART_SOURCE["訂單交期"].apply(TRAN_DATE)
FINAL_TABLE = CHART_SOURCE[["Order_weight(MT)", "Order_Monthly"]].groupby("Order_Monthly").sum()
FINAL_TABLE

               Order_weight(MT)
Order_Monthly
2025_01               264.17630
2025_02               303.44134
2025_03               559.52174
2025_04               145.40682
2025_05               316.84920
2025_06                21.60420

In [4]:
print("TOTAL_WEIGHT : ",CHART_SOURCE["Order_weight(MT)"].sum())

TOTAL_WEIGHT :  1760.4114099999997

以下為統計期間各公司訂單總金額

In [5]:
data.rename(columns={data.columns[3]:"Company"}, inplace = True)
INCOME_SOURCE = data[["下單客戶", "Company", "訂單金額", "幣別"]].copy()
INCOME_SOURCE["訂單金額"] = INCOME_SOURCE["訂單金額"].map(lambda x : float(x.replace(",","")))
END_INCOME = INCOME_SOURCE.groupby("Company").sum()
END_INCOME["幣別"] = END_INCOME["幣別"].map(lambda x : x[:3] if len(x) > 3 else x )
END_INCOME["下單客戶"] = END_INCOME["下單客戶"].map(lambda x : x[:4] if len(x) > 3 else x )

In [6]:
NUM = []
for i in range(len(END_INCOME["幣別"])) : 
    if END_INCOME["幣別"][i] == "USD":
        NUM.append(int(END_INCOME["訂單金額"][i]*30))
    elif END_INCOME["幣別"][i] == "EUR" :
        NUM.append(int(END_INCOME["訂單金額"][i]*32.5))
    elif END_INCOME["幣別"][i] == "SEK" :
        NUM.append(int(END_INCOME["訂單金額"][i]*2.8))
    else :
        NUM.append(END_INCOME["訂單金額"][i])
END_INCOME["TOTAL_VALUE(NTD)"] = NUM
END_INCOME.sort_values(by = ["TOTAL_VALUE(NTD)"], ascending=False)

C:\Users\wesley\AppData\Local\Temp\ipykernel_11680\78456481.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if END_INCOME["幣別"][i] == "USD":
C:\Users\wesley\AppData\Local\Temp\ipykernel_11680\78456481.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  NUM.append(int(END_INCOME["訂單金額"][i]*30))
C:\Users\wesley\AppData\Local\Temp\ipykernel_11680\78456481.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif END_INCOME["幣別"][i] == "EUR" :
C:\Users\wesley\AppData\Local\Temp\ipykernel_11680\78456481.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif END_INCOME["幣別"][i] == "SEK" :
C:\Users\wesley\AppData\Local\Temp\ipykernel_11680\78456481.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  NUM.append(int(END_INCOME["訂單金額"][i]*2.8))
C:\Users\wesley\AppData\Local\Temp\ipykernel_11680\78456481.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  NUM.append(int(END_INCOME["訂單金額"][i]*32.5))

               下單客戶        訂單金額   幣別  TOTAL_VALUE(NTD)
Company
NATIONAL NAIL  D092  1182117.60  USD          35463528
REYHER         C019  1075377.12  EUR          34949756
SIMPSON        D040   573963.00  USD          17218890
BMD            D090   472681.98  USD          14180459
PGB            C006   399495.72  EUR          12983610
HUTTIG         D007   333357.90  USD          10000737
INTERCORP      D012   152983.20  USD           4589496
INDEX          C034   101827.55  USD           3054826
STEEL AND WI   D101    68585.76  USD           2057572
STALCO         C032    37027.14  USD           1110814
TACOMA         D107    33136.31  USD            994089
SIMPSON AB     D040    25837.80  USD            775134
MAREFIX, SLU   C033    13865.50  USD            415965
SUNCO          B035    10634.64  USD            319039
ESSVE          C030    18835.74  SEK             52740

In [8]:
print("今年度目前營業額 : ", END_INCOME["TOTAL_VALUE(NTD)"].sum())

今年度目前營業額 :  389044919.0