In [13]:
import pandas as pd
data = pd.read_csv("SSL0710Q_20240122082345.csv")
data["Order_weight(MT)"] = data["接單重量(KGS)"].map(lambda x : float(x.replace(",","")))
CHART_SOURCE = data[["客戶代號", "Order_weight(MT)"]].copy()
FINAL_TABLE = CHART_SOURCE[["Order_weight(MT)", "客戶代號"]].groupby("客戶代號").sum()
FINAL_TABLE.sort_values(by = ["Order_weight(MT)"], ascending=False)

        Order_weight(MT)
客戶代號
D01200          93485.04
C00600          42817.38
C01900          16588.64
D09000          16066.56
C03400          10473.95
D04000           2703.00
D04001           2086.20

In [8]:
a= [[1, 2], [3, 4]]
a[0][1]

2

統計今年各月出貨重量

In [3]:
def TRAN_DATE(days) :
    DATE_LIST = days.split("/")
    if len(DATE_LIST[1]) < 2 :
        DATE_LIST[1] = "0" + DATE_LIST[1]
    return "{}_{}".format(DATE_LIST[0], DATE_LIST[1])

In [4]:
import pandas as pd

data = pd.read_csv("SDL0800Q_20240122083731.csv")
data["Order_weight(MT)"] = data["訂單重量(KG)"].map(lambda x : float(x.replace(",",""))*0.001)
CHART_SOURCE = data[["Order_weight(MT)", "訂單交期"]].copy()
CHART_SOURCE["Order_Monthly"] = CHART_SOURCE["訂單交期"].apply(TRAN_DATE)
FINAL_TABLE = CHART_SOURCE[["Order_weight(MT)", "Order_Monthly"]].groupby("Order_Monthly").sum()
FINAL_TABLE

               Order_weight(MT)
Order_Monthly
2025_01               264.17630
2025_02               303.44134
2025_03               605.03173
2025_04               404.63774
2025_05               399.93548
2025_06               107.85160
2025_07                57.78670
2025_08                43.85990

In [5]:
print("TOTAL_WEIGHT : ",CHART_SOURCE["Order_weight(MT)"].sum())

TOTAL_WEIGHT :  2186.7207900000003

以下為統計期間各公司訂單總金額

In [6]:
data.rename(columns={data.columns[3]:"Company"}, inplace = True)
INCOME_SOURCE = data[["下單客戶", "Company", "訂單金額", "幣別"]].copy()
INCOME_SOURCE["訂單金額"] = INCOME_SOURCE["訂單金額"].map(lambda x : float(x.replace(",","")))
END_INCOME = INCOME_SOURCE.groupby("Company").sum()
END_INCOME["幣別"] = END_INCOME["幣別"].map(lambda x : x[:3] if len(x) > 3 else x )
END_INCOME["下單客戶"] = END_INCOME["下單客戶"].map(lambda x : x[:4] if len(x) > 3 else x )

In [7]:
NUM = []
for i in range(len(END_INCOME["幣別"])) : 
    if END_INCOME["幣別"][i] == "USD":
        NUM.append(int(END_INCOME["訂單金額"][i]*30))
    elif END_INCOME["幣別"][i] == "EUR" :
        NUM.append(int(END_INCOME["訂單金額"][i]*32.5))
    elif END_INCOME["幣別"][i] == "SEK" :
        NUM.append(int(END_INCOME["訂單金額"][i]*2.8))
    else :
        NUM.append(END_INCOME["訂單金額"][i])
END_INCOME["TOTAL_VALUE(NTD)"] = NUM
END_INCOME.sort_values(by = ["TOTAL_VALUE(NTD)"], ascending=False)

C:\Users\wesley\AppData\Local\Temp\ipykernel_17908\78456481.py:3: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if END_INCOME["幣別"][i] == "USD":
C:\Users\wesley\AppData\Local\Temp\ipykernel_17908\78456481.py:4: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  NUM.append(int(END_INCOME["訂單金額"][i]*30))
C:\Users\wesley\AppData\Local\Temp\ipykernel_17908\78456481.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  elif END_INCOME["幣別"][i] == "EUR" :
C:\Users\wesley\AppData\Local\Temp\ipykernel_17908\78456481.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  NUM.append(int(END_INCOME["訂單金額"][i]*32.5))

               下單客戶        訂單金額   幣別  TOTAL_VALUE(NTD)
Company
NATIONAL NAIL  D092  3249544.24  USD          97486327
REYHER         C019  1030862.54  EUR          33503032
SIMPSON        D040   540866.00  USD          16225980
INTERCORP      D012   442293.96  USD          13268818
PGB            C006   282916.93  EUR           9194800
HUTTIG         D007   177685.32  USD           5330559
BOISE          D046   152340.48  USD           4570214
SUNCO          B035   101510.94  USD           3045328
BMD            D090    67579.20  USD           2027376
INDEX          C034    38524.00  USD           1155720
SIMPSON AB     D040     7704.40  USD            231132

In [8]:
print("今年度目前營業額 : ", END_INCOME["TOTAL_VALUE(NTD)"].sum())

今年度目前營業額 :  186039286